* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-body: 'Courier New', Courier, monospace;
    --cor-texto: white;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-texto);
    background-color: #0b3c5d;
}
 /*RETIREI O FOOTER DAQUI */
header, main {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}


.redes-sociais a {
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
   
}

.hero article {
    position: absolute;
    bottom: 20px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(121, 109, 109, 0.8);
    color: white;
}
 .hero article h2 {
    color: white;
}
.hero article img {
   float: right;
   width: 125px;
   margin-left: 10px;
}

footer p {
    text-align: center;
    margin: 0;
}   

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* HEADER COM GRID */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: #0b3c5d;
    color: white;
}

/* LOGO */
header img {
    width: 120px;
}

/* NAV COM FLEX */
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 15px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 10px;
}

section p {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.galeria img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    font-size: 14px;
    margin-top: 5px;
}

footer {
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0b3c5d;
    color: white;
}

/* redes sociais */
.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 30px;
}

/* seção geral */
.historia {
    padding: 0px;
}

/* caixa cinza */
.caixa-historia {
    background-color: rgba(121, 109, 109, 0.8);
    padding: 15px;
    border-radius: 0;
    width: 100%;
}

.caixa-historia h2 {
  color: white;
}
/* layout em 3 colunas */
.conteudo-historia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
    color: white;
}

/* imagem */
.conteudo-historia img {
    width: 70%;
    max-width: 200px;
    margin: auto;
    border-radius: 0px;
}

/* textos */
.conteudo-historia p {
    text-align: justify;
    font-size: 15px;
    line-height: 1;
}

.contato-info,
.equipe,
.formulario {
    margin: 20px 0;
}

.funcionarios {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.funcionarios img {
    width: 150px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #0b3c5d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #145a86;
}

.contato-info {
    margin-bottom: 30px;
}

.dados-empresa {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.contato-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.mapa iframe {
    width: 100%;
    border: none;
}


.formulario input[type="radio"],
.formulario input[type="checkbox"] {
    width: auto;
}

.formulario textarea {
    width: 100%;
    box-sizing: border-box;
}

.formulario button {
    width: 160px;
    padding: 12px;
    background-color: #0b3c5d;
    color: white;
    border: none;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #145a86;
}

.equipe {
    margin-top: 40px;
}


.funcionarios figure {
    text-align: center;
}

@media (max-width: 768px) {

    .dados-empresa {
        flex-direction: column;
    }

    .contato-principal {
        grid-template-columns: 1fr;
    }

    .funcionarios {
        flex-direction: column;
        align-items: center;
    }

}