
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: white;
    font-size: 18px;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.redes-sociais a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position:absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

     padding: 10px 15px;
     box-shadow: 0 4px 10px rgba(red, green, blue, alpha);
     border-radius: 15px;
   
    margin: 10px auto;
   
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(158, 148, 148);
    font-size: 25px;
    position:absolute;
    white-space: nowrap;
   
    top: 20px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    
    
}

.hero article img {
    display: block;
    margin: 0 auto;
    
   }